{% extends 'info/header_footer.html' %}
{% load static %}

{% block header_content %}
    <title>About Page</title>
    <meta name="description" content="Get to know more about {{ profile.user.first_name }} {{ profile.user.last_name }}">
    <meta name="keywords" content="Machine Learning, Data Science, Natural Language Processing">
{% endblock %}


{% block content %}
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>I am {{ profile.user.first_name }} helps you to design ML/DL pipelines.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- about part start-->
    {% include 'info/about_section.html' %}
    <!-- about part end-->

    <!-- philosophy part css start -->
    <section class="philosophy_part section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6">
                    <div class="philophy_text">
                        <h5>My philosophy</h5>
                        <h2>{{ profile.philosophy.title|safe }}</h2>
                        {{ profile.philosophy.description|safe }}
                    </div>
                </div>
                {% if profile.philosophy.image %}
                    <div class="col-lg-5 col-md-6">
                        <div class="philophy_img">
                            <img src="{{ profile.philosophy.image.url }}" alt="#">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- philosophy part css end -->
    <!--================Blog Area =================-->
{% endblock %}

