{% extends 'info/header_footer.html' %}
{% load static %}

{% load i18n %}

{% block header_content %}
    {% get_current_language as LANGUAGE_CODE %}
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}">
    <title>{{ profile.user.first_name }} {{ profile.user.last_name }}</title>
    <meta name="keywords" content="Machine Learning, Data Science, Natural Language Processing">
    <meta property="og:type" content="website {{ profile.user.first_name }} {{ profile.user.last_name }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}"/>

    <meta name="description"
          content="Discuss your machine learning knowledge with me. Solve the AI problems together with {{ profile.user.first_name }}">
{% endblock %}

{% block content %}

    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h5>Hi there, This is {{ profile.user.first_name }}</h5>
                            <h1>Data Scientist</h1>
                            <div class="banner_btn">
                                <a href="{% url 'contact_url' %}" class="btn_1">Contact me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- about part start-->
    {% include 'info/about_section.html' %}
    <!-- about part end-->

    <!-- Service part start-->
    <section class="service_part padding_bottom padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_tittle text-center">
                        <p>My portfolio</p>
                        <h2>Take a look around some of my awesome works</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="single_service_part">
                        <div class="single_service_text">
                            <span><i class="far fa-newspaper"></i></span>
                            <h2>NLP</h2>
                            <p>Check my projects associated with NLP.</p>
                            <a href="{% url 'projects-url' %}?category=NLP" class="learn_btn">See Projects</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_service_part active">
                        <div class="single_service_text">
                            <span><i class="fas fa-tv"></i></span>
                            <h2>Recommender Systems</h2>
                            <p>Check my projects associated with Recommender Systems.</p>
                            <a href="{% url 'projects-url' %}?category=Recommender Systems" class="learn_btn">See
                                Projects</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_service_part">
                        <div class="single_service_text">
                            <span><i class="fas fa-cogs"></i></span>
                            <h2>Machine Learning</h2>
                            <p>Check my projects associated with Machine Learning.</p>
                            <a href="{% url 'projects-url' %}?category=Machine Learning" class="learn_btn">See
                                Projects</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service part end-->

    <!--::review_part start::-->
    <section class="review_part section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="section_tittle">
                        <p>Word from my acquaintances.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="client_review_part owl-carousel">
                        {% if profile.clients %}
                            {% for client in profile.clients.all %}
                                <div class="client_review_single">
                                    <div class="client_review_text">
                                        <p>
                                            "{{ client.recommendation }}"
                                        </p>
                                        <div class="client_review_img">
                                            <img src="{{ client.image.url }}" alt="#">
                                            <h4>{{ client.name }}</h4>
                                            <p>{{ client.designation }} <a href="{{ client.linkedin }}"><i
                                                    class="fab fa-linkedin"></i></a></p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::review_part end::-->

{% endblock %}