{% extends 'info/header_footer.html' %}
{% load static %}

{% block content %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Projects Accomplished</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- portfolio part css start -->
    <section class="portfolio_part section_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section_tittle">
                    {% if projects %}
                        <h2>Take a look around some of my {% if category %}{{ category }}{% else %}awesome{% endif %} works</h2>
                        {% else %}
                        <h2>Sorry no projects available for category {% if category %}{{ category }}{% endif %}.</h2>
                    {% endif %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section_btn text-right">
                        <a href="{% url 'projects-url' %}" class="btn_2">More works</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="mesonary_part">
                        <div class="grid">
                            <div class="grid-sizer"></div>
                            {% if projects %}
                                {% for project in projects %}
                                    {% if forloop.counter0|divisibleby:3 %}
                                        <div class="row">{% endif %}

                                <a href="{{ project.get_absolute_url }}" target="_blank">

                                    <div class="col-md-4 grid-item">
                                        <img src="

                                                {% if project.display_image %}{{ project.display_image.url|safe }}{% endif %}"
                                             alt="">
                                        <div class="portfolio_hover_text">
                                            <i>{{ project.title }}</i>
                                        </div>
                                    </div>
                                </a>
                                {% if forloop.counter|divisibleby:3 %}</div>{% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- portfolio part css end -->
{% endblock %}