{% extends 'info/header_footer.html' %}
{% load static %}

{% block content %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Projects Accomplished</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- portfolio part css start -->
    <section class="portfolio_part section_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <p>My projects</p>
                        <h2>Take a look around some of my awesome works</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section_btn text-right">
                        <a href="#" class="btn_2">More works</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="mesonary_part">
                        <div class="grid">
                            <div class="grid-sizer"></div>
                            {% if projects %}
                                {% for project in projects %}
                                    {% if forloop.counter|divisibleby:2 %}
                                        <a href="{{ project.get_absolute_url }}"
                                           class="grid-item big_height big_weight">
                                            <img src="
                                                    {% if project.display_image %}{{ project.display_image.url|safe }}{% endif %}"
                                                 alt="">
                                            <div class="portfolio_hover_text">
                                                <i>{{ project.title }}</i>
                                            </div>
                                        </a>
                                    {% elif forloop.counter|divisibleby:4 %}
                                        <a href="{{ project.get_absolute_url }}" class="grid-item big_weight">
                                            <img src="
                                                    {% if project.display_image %}{{ project.display_image.url|safe }}{% endif %}"
                                                 alt="">
                                            <div class="portfolio_hover_text">
                                                <i>{{ project.title }}</i>
                                            </div>
                                        </a>
                                    {% else %}
                                        <a href="{{ project.get_absolute_url }}" class="grid-item">
                                            <img src="
                                                    {% if project.display_image %}{{ project.display_image.url|safe }}{% endif %}"
                                                 alt="">
                                            <div class="portfolio_hover_text">
                                                <i>{{ project.title }}</i>
                                            </div>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- portfolio part css end -->
{% endblock %}